<a href="https://colab.research.google.com/github/Taewhoo/https-github.com-Taewhoo-Jumptopython/blob/main/%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

if문

In [1]:
1 in [1,2,3]

True

In [2]:
'j' not in 'python'

True

In [3]:
pocket = 'money', 'cellphone', 'paper'
if 'money' in pocket:
  print('택시 타고 가')
else:
  print('걸어가')

택시 타고 가

조건부 표현식

In [8]:
시험성적 = 65
message = 'success' if 시험성적 >= 60 else 'failure'
message #가독성에 유리

'success'

while문(반복문)

In [10]:
횟수 = 0
while 횟수 < 10:
  횟수 = 횟수 + 1
  print('나무를 %d번 찍었습니다' % 횟수)
  if 횟수 == 10:
    print('나무 넘어갑니다.')

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어갑니다.

In [17]:
lists = '''
1. add
2. del
3. list
4. quit

Enter number: 
'''

number = 0
while number != 4:
  print(lists)
  number = int(input())

1. add
2. del
3. list
4. quit

Enter number:

1

1. add
2. del
3. list
4. quit

Enter number:

2

1. add
2. del
3. list
4. quit

Enter number:

4

In [18]:
coffee = 5
money = 300
while money:
  print('커피 나갑니다.')
  coffee = coffee -1
  print('커피 %d잔 남았습니다' % coffee)
  if coffee == 0:
    print('커피 다 떨어졌습니다.')
    break

커피 나갑니다.
커피 4잔 남았습니다
커피 나갑니다.
커피 3잔 남았습니다
커피 나갑니다.
커피 2잔 남았습니다
커피 나갑니다.
커피 1잔 남았습니다
커피 나갑니다.
커피 0잔 남았습니다
커피 다 떨어졌습니다.

In [20]:
coffee = 10
while coffee:
  money = int(input("돈을 넣어 주세요: "))
  if money > 300:
    print('커피를 줍니다. 거스름돈은 %d입니다.' % (money - 300))
    coffee = coffee - 1
    print('남은 커피는 %d잔입니다.' % coffee)
  elif money == 300:
    print('커피를 줍니다.')
    coffee = coffee - 1
    print('남은 커피는 %d잔입니다.' % coffee)
  else:
    print('돈이 부족합니다.')
    print('남은 커피는 %d잔입니다.' % coffee)
  if coffee == 0:
    print('커피가 다 떨어졌습니다.')
    break

돈을 넣어 주세요: 310
커피를 줍니다. 거스름돈은 10입니다.
남은 커피는 9잔입니다.
돈을 넣어 주세요: 300
커피를 줍니다.
남은 커피는 8잔입니다.
돈을 넣어 주세요: 259
돈이 부족합니다.
남은 커피는 8잔입니다.
돈을 넣어 주세요: 400
커피를 줍니다. 거스름돈은 100입니다.
남은 커피는 7잔입니다.
돈을 넣어 주세요: 500
커피를 줍니다. 거스름돈은 200입니다.
남은 커피는 6잔입니다.
돈을 넣어 주세요: 300
커피를 줍니다.
남은 커피는 5잔입니다.
돈을 넣어 주세요: 599
커피를 줍니다. 거스름돈은 299입니다.
남은 커피는 4잔입니다.
돈을 넣어 주세요: 399
커피를 줍니다. 거스름돈은 99입니다.
남은 커피는 3잔입니다.
돈을 넣어 주세요: 599
커피를 줍니다. 거스름돈은 299입니다.
남은 커피는 2잔입니다.
돈을 넣어 주세요: 399
커피를 줍니다. 거스름돈은 99입니다.
남은 커피는 1잔입니다.
돈을 넣어 주세요: 100
돈이 부족합니다.
남은 커피는 1잔입니다.
돈을 넣어 주세요: 500
커피를 줍니다. 거스름돈은 200입니다.
남은 커피는 0잔입니다.
커피가 다 떨어졌습니다.

In [24]:
a = 0
while a < 10:
  a = a + 1
  if a % 2 == 0:
    continue # 처음으로 돌아감
  print(a)

1
3
5
7
9

for문

In [25]:
list = ['태후', '채연', '태순']
for x in list:
  print(x)
#리스트 순차적으로 출력

태후
채연
태순

In [28]:
list2 = [('태후', '채연'), ('채연', '태순'), ('태순', '태후')]
for (a,b) in list2:
  print(a + b) 
  # (a, b) = ('채연', '태후') 원리

태후채연
채연태순
태순태후

In [31]:
점수 = [90, 25, 67, 45, 80]

number = 0
for k in 점수:
  number = number + 1
  if k >= 60:
    print('%d번 학생은 합격입니다.' % number)
  else:
    print('%d번 학생은 불합격입니다.' % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [33]:
점수 = [90, 25, 67, 45, 80]
number = 0
for k in 점수:
  number = number + 1
  if k < 60:
    continue
  print('%d번 학생은 합격입니다. 축하합니다.' % number)

1번 학생은 합격입니다. 축하합니다.
3번 학생은 합격입니다. 축하합니다.
5번 학생은 합격입니다. 축하합니다.

for문 - range함수

In [34]:
sum = 0
for k in range(1,11): # 1~10까지
  sum = sum + k
print(sum)

55

In [35]:
점수 = [90, 25, 67, 45, 80]
for number in range(len(점수)): #range(5): 0부터 4까지
  if 점수[number] < 60:
    continue
  print('%d번 학생은 합격입니다. 축하합니다.' % (number + 1))

1번 학생은 합격입니다. 축하합니다.
3번 학생은 합격입니다. 축하합니다.
5번 학생은 합격입니다. 축하합니다.

In [43]:
for k in range(2,10):
  for l in range(1,10):
    print(k * l, end = " ")
  print('') #다음줄 동작 지시(아무것도 없으므로 인덴트만 된다.)

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [ ]:
list comprehension(리스트 내포)

In [44]:
a = [1,2,3,4]
result = []
for k in a:
  result.append(k*3)

print(result)

[3, 6, 9, 12]

In [45]:
a = [1,2,3,4]
result = [k * 3 for k in a]
print(result)

[3, 6, 9, 12]

In [46]:
#list comprehension + 조건부 표현
a = [1,2,3,4]
result = [k * 3 for k in a if k % 2 == 0]
print(result)

[6, 12]

In [48]:
multiple = [x * y for x in range (2,10)
                  for y in range (1,10)]
print(multiple)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [78]:
# 1~1000 자연수 중 3의 배수의 합
k = 1
합 = 0
while k <= 1000:
  if k % 3 == 0:
    합 = 합 + k
  k = k + 1 # while 구문- k값 계속 업데이트 필요! 

print(합)

166833

In [64]:
a = ''
while len(a) < 5 :
  a = a + '*'
  print(a)

*
**
***
****
*****

In [80]:
#또다른 방법
a = 0
while True:
  a = a + 1
  if a > 5: break
  print('*' * a)

*
**
***
****
*****