<a href="https://colab.research.google.com/github/Taewhoo/https-github.com-Taewhoo-Jumptopython/blob/main/%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

매개변수, 인수

In [ ]:
def add(a,b): #a, b : 매개변수(=변수)
  return a + b

add(3,4) # 3, 4 : 인수 (=입력값)

7

In [ ]:
def add(a,b): 
  return a + b

result = add(b=4, a=3)
print(result) # 매개변수 지정하여 호출 가능

7

함수의 종류

In [ ]:
def add(a,b):
  return a + b #1. 일반함수
a = add(3,4)
print(a)

7

In [ ]:
def say():
  return 'hi'
a = say()
print(a) #2. 입력값이 없는 함수

hi

In [ ]:
def add(a,b):
  print('%d 더하기 %d는 %d입니다.' % (a, b, a+b)) #결과값 아닌 수행할 문장일 뿐

add(3,4)
# 3. 결과값이 없는 함수 (결과값 : 오직 return으로 주어짐)

3 더하기 4는 7입니다.

In [ ]:
def add(a,b):
  print('%d 더하기 %d는 %d입니다.' % (a, b, a+b))
c = add(3,4) #돌려받을 값 -> a 변수에 대입
print(c)# none = 거짓이므로 결과값은 없다.

3 더하기 4는 7입니다.
None

In [ ]:
def say():
  print('hi')

say() #4. 입력값도 결과값도 없는 함수

hi

입력값 개수 미정일 때

In [ ]:
def add(*b): # *매개변수
  result = 0
  for k in b:
    result = result + k
  return result

a = add(1,2,3,4,5)
a

15

In [ ]:
def add_mul(choice, *x):
  if choice == 'add':
    result = 0
    for k in x:
      result = result + k
  elif choice == 'mul':
    result = 1
    for k in x:
      result = result * k
  return result

a = add_mul('mul', 1,2,3,4,5)
print(a)

120

In [ ]:
def dic_kwargs(**kwargs): # **매개변수(kwargs) -> 딕셔너리화
  print(kwargs)

dic_kwargs(name = '이태후', date = '서채연')

{'name': '이태후', 'date': '서채연'}

In [ ]:
d = {'name':'이태후'}
d.keys()

dict_keys(['name'])

함수 값은 하나이다.

In [ ]:
def add_and_mul(a,b):
  return a+b, a*b

result = add_and_mul(3,4)
print(result) # 하나의 튜플로 묶여서 나온다.

(7, 12)

In [ ]:
result1, result2 = add_and_mul(3,4)
print(result1) # 따로따로 원할 경우

7

return의 쓰임! (return 만나면 즉시 빠져나감)

In [ ]:
def whoami(이름):
  if 이름 == '이태후':
    return
  print('저는 %s 아닙니다.' % 이름)

In [ ]:
whoami('서채연')

저는 서채연 아닙니다.

In [ ]:
whoami('이태후')

매개변수가 랜덤값이 아닐 경우 (초기값 미리 설정)

In [ ]:
def myself(name, age, man=True):
  print('나의 이름은 %s입니다.' % name)
  print('나의 나이는 %d입니다.' % age)
  if man: #이미 man이라는 매개변수의 인수는 True이다.
    print('남자입니다.')
  else:
    print('여자입니다.')
  
myself('서채연', 23, 0)

나의 이름은 서채연입니다.
나의 나이는 23입니다.
여자입니다.

함수 내 매개변수는 함수 안에서만 적용!

In [ ]:
a = 1
def function(a):
  a = a + 1 #결과값은 돌려주지 않는다!

function(a)
print(a) # a=function(a) 라는 설정 없으므로 a값은 언제나 1

1

In [ ]:
a = 1
def function(a):
  a = a + 1
  return a
a = function(a) 
a

2

lambda 예약어

In [ ]:
add = lambda a, b : a + b
result = add(3,4)
print(result) #lambda의 경우 return 명령 없어도 결과값 출력.

7

사용자 입출력

In [ ]:
a = input()

life

In [ ]:
b = input('숫자를 입력하세요: ')
print(b)

숫자를 입력하세요: 3
3

In [ ]:
type(b) #input은 모든것을 문자로 취급!(사용자 입력값)

str

print의 특징

In [ ]:
print('life' 'is' 'short')
#따옴표의 나열 = +연산자와 동일

lifeisshort

In [ ]:
print('life', 'is', 'short')
#띄어쓰기 = 쉼표(",")

life is short

In [ ]:
for k in range(10):
  print(k, end = ' ') #줄넘김 대신 한 줄 표현하려면, 매개변수 end 사용

0 1 2 3 4 5 6 7 8 9

파일 (다시 해보기)

In [6]:
def is_odd(a):
  if a % 2 == 0:
    return True
  else:
    return False
  
num = is_odd(5)
print(num)

False

In [11]:
def avg(*a):
  sum = 0
  for k in a:
    sum = sum + k
  return sum / len(a)

result = avg(2,4,6,8)
print(result)

5.0

In [13]:
input1 = input('첫번째 숫자를 입력하세요:')
input2 = input('두번째 숫자를 입력하세요:')

total = int(input1) + int(input2) #매개변수 출력값은 문자
print('두 수의 합은 %s입니다' % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9입니다